<html>
    <head>
        <title>Actions</title>
    </head>
    <body>
        <h1>Файлы</h1>
        <a href="/plan_fact">ПланФакт</a>
        <a href="/emails">Емейлы на рассылку</a>
        <a href="/companies">Контакты</a>
    </body>
</html>