<html>
    <head>
        <title>Ссылки</title>
    </head>
    <body>
        <h1>Files</h1>
        <a href='/download_file'> Скачать результат </a></br>
        <a href='/delete_files'> Удалить файлы </a>
    </body>
</html>